body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
}

h1, h2 {
    color: #343a40;
    text-align: center;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 50%;
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

#income-report-output, #students-report-output, #turns-report-output {
    margin-top: 20px;
}
